 <%-include('partials/header')%>
    <main>
        <div class="loading">
            <div class="center">
                <img src="/photos/logoanim.png" alt="logo" width="300px">
            </div>
        </div>
        <header>
            <div class="logo"><img src="/photos/logo.png" alt="logo" width="130px"></div>
            <nav>
                <div class="div">
                    <a href="" class="active">
                        <i class="fa-regular fa-comment"></i>
                        <p>Discussion</p>
                    </a>
                </div>
                <div class="div">
                    <a href="">
                        <i class="fa-solid fa-box-archive"></i>
                        <p>Archives</p>
                    </a>
                </div>
                <div class="div">
                    <a href="">
                        <i class="fa-solid fa-user-pen"></i>
                        <p>Profil</p>
                    </a>
                </div>
            </nav>
        </header>
        
        <section class="contents">
            <div class="center" id="center">
                <div class="top">
                    <h1>Chat</h1>
                    <div class="input">
                        <input type="text">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="enligne">
                    <h2>En ligne</h2>
                    <div class="box">
                        <div class="img">
                            <img src="" alt="">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="allchat">
                    <h2>Tous les chats</h2>
                    <div class="boxs">
                        <div class="box">
                            <div class="profil">
                                <img src="" alt="">
                                <div class="nom">
                                    <p class="nom"></p>
                                    <p class="prenom"></p>
                                </div>
                            </div>
                            <div class="right">
                                <div class="date"></div>
                                <div class="vu_ou_non"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat">
                <div class="header">
                    <div class="left">
                        <img src="" alt="">
                        <div class="text">
                            <p class="nom prenom"></p>
                            <p class="status"></p>
                        </div>
                    </div>
                    <a href="" class="telephone"><i class="fa-solid fa-phone-flip"></i></a>
                </div>
                <div class="message"></div>
                <form method="post">
                    <input type="text">
                    <button type="submit">Envoyer</button>
                </form>
            </div>
        </section>
    </main>
    
 <%-include('partials/footer')%>
 