<%-include('partials/header')%>
    <section class="register">
        <h1>Enregistrement</h1>
        <form action="" method='post'>
            <div class="photo">
                <input type="image">
            </div>
            <div class="input">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Entrez votre nom" required>
            </div>
            <div class="input">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Entrez votre prenom">
            </div>
            <div class="input">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <input type="tel" placeholder="Entrez Numero de telephone" required>
            </div>
            <button type="submit">Envoyer</button>
        </form>
    </section>

<%-include('partials/footer')%>